<mat-card>
  <mat-card-title>Reserve Vehicle #{{ vehicleId }}</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="submit()">
    
    <mat-form-field 
      appearance="fill" 
      class="full-width"
      [ngClass]="{ invalid: form.get('startDate')?.invalid && (form.get('startDate')?.touched || form.touched) }">
        <mat-label>Start Date</mat-label>
        <input matInput 
                [matDatepicker]="startPicker" 
                formControlName="startDate" 
                [min]="minDate" 
                [matDatepickerFilter]="dateFilter"
                (dateChange)="handleDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field 
      appearance="fill" 
      class="full-width"
      [ngClass]="{ invalid: form.get('endDate')?.invalid && (form.get('endDate')?.touched || form.touched) }">
        <mat-label>End Date</mat-label>
        <input matInput 
                [matDatepicker]="endPicker" 
                formControlName="endDate" 
                [min]="minDate" 
                [matDatepickerFilter]="dateFilter"
                (dateChange)="handleDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Reserve
    </button>
  </form>
  <div *ngIf="form.errors?.['dateRangeInvalid'] && form.touched" class="error-msg">
    End date must be on or after start date.
  </div>
</mat-card>


