<mat-card>
  <form [formGroup]="form" (ngSubmit)="submit()">
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Localización</mat-label>
      <input matInput formControlName="location" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Fecha inicio</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        formControlName="startDate"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Fecha fin</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        formControlName="endDate"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
  <mat-label>Modelo del vehículo</mat-label>
  <input matInput formControlName="vehicleModel" readonly />
</mat-form-field>


    <button mat-raised-button color="primary" type="submit">Reservar</button>
  </form>
</mat-card>
