.navbar {
  background: linear-gradient(to right, #111, #222);
  color: white;

  .nav-left {
    display: flex;
    align-items: center;
    .text-logo {
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      cursor: pointer;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .nav-right {
    display: flex;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
      margin-left: 10px;

      mat-icon {
        margin-right: 5px;
      }
    }
  }
}
