<mat-toolbar color="primary" class="navbar">
  <!-- Logo Text -->
  <div class="nav-left">
    <span class="text-logo" routerLink="/">Rentacar</span>
  </div>

  <span class="spacer"></span>

  <div class="nav-right">
    <a mat-button routerLink="/reservations">
      <mat-icon>directions_car</mat-icon>
      Gestionar las reservas
    </a>
    <a mat-button routerLink="/login">
      <mat-icon>person</mat-icon>
      Iniciar sesión
    </a>
    <a mat-button routerLink="/register">
      Registrarse
    </a>
  </div>
</mat-toolbar>
